{% extends "base.html" %}

{% block title %}О блоге{% endblock %}

{% block header %}О блоге и его создателе{% endblock %}

{% block content %}
<div>
    <h1>О себе</h1>
    <p>Меня зовут Ежеслав.</p>
    <p>Я живу в Сибирской Тайге, люблю природу, свою страну и ежей</p>
    <h1>О блоге</h1>
    <p>В статьях этого блога вы найдете много интересных историй и ответов на повисший в воздухе вопрос: "Чем же они так
        прекрасны?"</p>
    <h4>Тэги:</h4>
    <p>{{ tags|join:', ' }}</p>
</div>
{% endblock %}