{% if form.errors %}
<div>
    <ul>
        {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{% url 'comment_article' article_id as the_url %}">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <textarea name="comment" type="text" class="form-control" id="floatingInput" placeholder="Комментарий"
            style="height: 200px;" required></textarea>
        <label for="floatingInput">Оставить комментарий</label>
    </div>
    <input class="btn btn-primary" type="submit" value="Отправить комментарий">
</form>