{% extends "base.html" %}

{% block title %}Статья{% endblock %}

{% block header %}Бланк форм{% endblock %}

{% if form.errors %}
<div>
  <ul>
    {% for error in form.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% block content %}
<form method="post"
  action="{% block action_value %}{% endblock action_value %}">
  {% csrf_token %}
  {% block form %}
  {% endblock form %}
  <input class="btn btn-{% block button %}{% endblock button %}" type="submit" value="{% block button_value %}{% endblock button_value %}">
</form>
{% endblock content %}