{% extends "base.html" %}

{% block content %}
<table class="table-bordered table-striped">
    <thead>
        <tr><a href="{% url 'article_create' %}">Создать статью</a></tr>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Название</th>
            <th scope="col">Содержание</th>
            <th colspan="2">Действия</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for article in articles %}
        <tr>
            <th class="px-2" scope="row">{{ article.id }}</th>
            <td class="px-2"><a href="{% url 'article_info' article.id %}">{{ article.name }}</a></td>
            <td class="px-2">{{ article.body }}</td>
            <td class="px-2"><h7><a href="{% url 'article_update' article.id %}">Изменить</a></h7></td>
            <td>
                <form action="{% url 'article_delete' article.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}