{% extends "base.html" %}

{% block title %}Просмотр статьи{% endblock %}

{% block header %}{{ article.name }}{% endblock %}

{% block content %}
<div class="card mb-3">
  <div class="card-header bg-dark text-white">
    <h2> Статья от {{ article.created_at|date:"d.m.Y H:i" }}</h2>
    <br>
    <h4 class="text-end">Изменения от {{ article.updated_at|date:"d.m.Y H:i" }}</h4>
  </div>
  <div class="card-body bg-light">
    <p class="">{{ article.body|linebreaks }}</p>
  </div>
</div>

{% for comment in comments %}
<div class="card mb-3">
  <div class="card-header bg-secondary text-white">
    <h4> Комментарий от {{ comment.created_at|date:"d.m.Y H:i" }}</h4>
  </div>
  <div class="card-body bg-light">
    <p class="">{{ comment.body|linebreaks }}</p>
  </div>
</div>
{% empty %}
    <div>
        <p>К этой статье еще нет комментариев.</p>
    </div>
{% endfor %}

{% include "articles/comment.html" %}

{% endblock %}